<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MQTT Skrba</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <a href="/" class="button">Trenutno</a>
SKRBA
    <script>
        var search_term;
        var s='get/temperatures?n=';

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString); 
        if(urlParams.has('n')) {
            search_term = urlParams.get('n');
        } else {
            search_term = '6';
        }
        
        if(urlParams.has('h')) {
            host = urlParams.get('h');
        } else {
            host = 'malina29';
        }

        fetch(s.concat(search_term))
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                showData(data, host);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            }
        );

    </script>
    <div id="myGraph"></div>
    <script>
        function showData(data) {

            const labels28 = [
                "kuhinja",
                "soba",
                "skrinja",
                "dnevna soba",
                "gretje",
                "zunaj"
            ]

            const labels29 = [
                "klet",
                "2. nadstropje",
                "letni vrt",
                "dnevna soba",
                "-",
                "zunaj"
            ]
            
            const labelsB2 = [
                "1. nadstropje",
                "2. nadstropje",
                "hodnik",
                "dnevna soba",
                "kamin",
                "zunaj"
            ];

            if (host == "malina28")
                labels = labels28;
            else if (host == "malina29")
                labels = labels29;
            else
                labels = labelsB2;

            const traces = [];
            const dataClientsFixed = ["RPI", "RPIa", "lj"];
            var dataClients = [];			

            var i;
            for(i = 0; i < labels.length-1; i++) {
                traces[i] = {
                    x: [],
                    y: [],
                    type: 'scatter',
                    mode: 'lines',
                    name: labels[i]
                };
            }

            traces[i] = {
                x: [],
                y: [],
                type: 'scatter',
                name: labels[i],
                line: {
                        color: 'rgb(100, 100, 100)',
                        width: 1
                    }
            };

            const temp = "client_00";

            for(var i = 1; i < traces.length-2; i++) {
                dataClients.push(temp.concat(i));
            }

            for(var i = 0; i < dataClientsFixed.length; i++) {
                dataClients.push(dataClientsFixed[i]);
            }

            for (var i = 0; i < data.length; i++) {
                for(var j = 0; j < traces.length; j++) {
                    traces[j].x.push(data[i].timestamp);
                    traces[j].y.push(data[i][dataClients[j]]);
                }
            }

            for(var j = traces.length - 1; j >= 0; j--)
                if ( labels[j] == "-" )
                    traces.splice(j, 1) //remove

            <!-- https://plotly.com/javascript/reference/layout/yaxis/#layout-yaxis-range -->
            var layout = {
                title: 'MQTT meritve',
                font:  { size: 10 },
                xaxis: { title: 'ČAS', tickangle: 90 },
                yaxis: { title: 'TEMPERATURA' }
            }
            var config = {responsive: true};
            plotDIV = document.getElementById('myGraph');
            Plotly.newPlot(plotDIV, traces, layout, config);

        }

    </script>
</body>
</html> 
